In [1]:
# Movie Recommendation System with Collaborative Filtering

In [1]:
print ("Hello world")
print ("I am Jupyter in the house in VS")

Hello world
I am Jupyter in the house in VS

In [2]:
import pandas as pd
from scipy import sparse
from sklearn.metrics.pairwise  import cosine_similarity

In [3]:
rating = pd.read_csv("toy_dataset.csv")
rating= rating.fillna(0)
print (rating)

   action1  action2  action3  romantic1  romantic2  romantic3
0      4.0      5.0      3.0        0.0        2.0        1.0
1      5.0      3.0      3.0        2.0        2.0        0.0
2      1.0      0.0      0.0        4.0        5.0        4.0
3      0.0      2.0      1.0        4.0        0.0        3.0
4      1.0      0.0      2.0        3.0        3.0        4.0

In [5]:
def standardize(row):
    new_row= (row- row.mean())/ (row.max()-row.min())
    return new_row

# we are going to recommend based on rating of movies
########################################### standardize was throwing error have to delete 1st column: user1 user2 .............
rating_std= rating.apply(standardize)
#print (rating_std)
# T transpose   as we are not recommending based on user 'x' likes but on movies overall ratings
# from sckit learn cosine_similarity
item_similarity= cosine_similarity(rating_std.T)
print(item_similarity)

[[ 1.          0.70668875  0.81368151 -0.79941088 -0.02539184 -0.91410609]
 [ 0.70668875  1.          0.72310153 -0.84515425 -0.5189993  -0.84337386]
 [ 0.81368151  0.72310153  1.         -0.84794611 -0.3799803  -0.80218063]
 [-0.79941088 -0.84515425 -0.84794611  1.          0.14803913  0.72374686]
 [-0.02539184 -0.5189993  -0.3799803   0.14803913  1.          0.39393939]
 [-0.91410609 -0.84337386 -0.80218063  0.72374686  0.39393939  1.        ]]

In [6]:
item_similarity_df= pd.DataFrame(item_similarity,index= rating.columns,columns= rating.columns)
item_similarity_df

            action1   action2   action3  romantic1  romantic2  romantic3
action1    1.000000  0.706689  0.813682  -0.799411  -0.025392  -0.914106
action2    0.706689  1.000000  0.723102  -0.845154  -0.518999  -0.843374
action3    0.813682  0.723102  1.000000  -0.847946  -0.379980  -0.802181
romantic1 -0.799411 -0.845154 -0.847946   1.000000   0.148039   0.723747
romantic2 -0.025392 -0.518999 -0.379980   0.148039   1.000000   0.393939
romantic3 -0.914106 -0.843374 -0.802181   0.723747   0.393939   1.000000

action1 is similar to action 1 by 100%
action1 is similar to action2 by 70%
action1 is similar to action2 by 81%%
basically following row
recommendation NOW

In [7]:
# lets make recommendations
def get_similar_movies(movie_name,user_rating):
    similar_score= item_similarity_df[movie_name]*(user_rating-2.5)
    similar_score= similar_score.sort_values(ascending= False)
    return similar_score

# movie watched by that user and his rating
print(get_similar_movies("romantic3",1))

action1      1.371159
action2      1.265061
action3      1.203271
romantic2   -0.590909
romantic1   -1.085620
romantic3   -1.500000
Name: romantic3, dtype: float64

here userX rated poorlt rom3 but is recommending other rom
so there is a trick substract mean rating fromm user_rating in get_similar_movies

In [10]:
# if user rated several movies   userX
userX= [("action1",5),("romantic2",1),("romantic3",1)]
similar_movies= pd.DataFrame()

for movie,rating in userX:
    #similar_movies= pd.concat([similar_movies,get_similar_movies(movie,rating)])
    similar_movies= similar_movies.append(get_similar_movies(movie,rating))

similar_movies.head()
#similar_movies.sum().sort_values(ascending= False)

C:\Users\kushw\AppData\Local\Temp\ipykernel_22812\1441209149.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  similar_movies= similar_movies.append(get_similar_movies(movie,rating))
C:\Users\kushw\AppData\Local\Temp\ipykernel_22812\1441209149.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  similar_movies= similar_movies.append(get_similar_movies(movie,rating))
C:\Users\kushw\AppData\Local\Temp\ipykernel_22812\1441209149.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  similar_movies= similar_movies.append(get_similar_movies(movie,rating))

            action1   action3   action2  romantic2  romantic1  romantic3
action1    2.500000  2.034204  1.766722  -0.063480  -1.998527  -2.285265
romantic2  0.038088  0.569970  0.778499  -1.500000  -0.222059  -0.590909
romantic3  1.371159  1.203271  1.265061  -0.590909  -1.085620  -1.500000

on toy data set working fine Now apply on movies.csv and corresponding rating.csv